In [2]:
# 1. What are data structures, and why are they important?
# Data structure is a way of organizing and storing data, so that it can be assessed and manipulated efficiently. They are imortant because it allows us to store heterogeneous or homogeneous data in containers like list, tuples etc which helps us to work in an organized way.

# 2. Explain the difference between mutable and immutable data types with examples.
# Mutable data types are those which can be modified. For ex: List. Immutable data types cannot be modified. Ex: Tuples.

# 3. E What are the main differences between lists and tuples in Python?
# List is mutuable data type whereas tuple is immutabe data type.

# 4.  Describe how dictionaries store data.
# Dictionaries store data in the form of Key: value.

# 5. Why might you use a set instead of a list in Python?
# Set stores unique set of data. So in order to avoid any repetation of data which might lead to an incorrect outcome set is used instaed of a list.

# 6.  What is a string in Python, and how is it different from a list?
# string in Python is a sequence of characters enclosed in "" or ''. Strings represents texual data amd are immutable. Whereas, list is an ordered collection of hererogenous data types. List is mutable.

# 7. How do tuples ensure data integrity in Python?
# Tuples are immutable hence it cannot be modified. Therefore, it ensures to maintain the integrity in Python.

# 8.  What is a hash table, and how does it relate to dictionaries in Python?

# 9. Can lists contain different data types in Python?
# Yes, list can contain different data types.

# 10.  Explain why strings are immutable in Python.
# Strings are immutable because it store texual data and for example if we want to store name of an employee, we need to ensure it should not be modified. This feature also helps prevents accidental modification.

# 11. What advantages do dictionaries offer over lists for certain tasks?
# Dictionaries store data in the form of key and value form which makes the code more readable and easier to maintain wheras list store data in individual form so it is less intuitive while working with complex datas.

# 12. Describe a scenario where using a tuple would be preferable over a list.
# Tuples can store heterogenous data like list but since tuple is immutable it can help to store data which are not intended for modification. Storing data in tuple can prevent accidental modification leading to less chances to error or bugs in a code.

# 13. How do sets handle duplicate values in Python?
# Sets will eliminate any duplicate data when the code is executed.

#14.  How does the “in” keyword work differently for lists and dictionaries?

# 15. Can you modify the elements of a tuple? Explain why or why not?
# tuples are immutable therefore they cannot be modified.

# 16. What is a nested dictionary, and give an example of its use case.
# Nested dictionaries is esentially a dictionary within a dictionary. The outer dictionary maps keys to inner dictionaries, and the inner dictionaries contain their own key-value pair.

In [8]:
students = {
    "Student1" : {"Name": "AAA" , "grade": 123},
    "Student2" : {"Name": "BBB" , "grade": 456},
    "Student3" : {"Name": "CCC" , "grade": 789},
}

print(students)

{'Student1': {'Name': 'AAA', 'grade': 123}, 'Student2': {'Name': 'BBB', 'grade': 456}, 'Student3': {'Name': 'CCC', 'grade': 789}}

In [9]:
# 17. Describe the time complexity of accessing elements in a dictionary

In [10]:
# 18.  In what situations are lists preferred over dictionaries?
# List are preferred when indivudual data types are preferred and duplicates are acceptable and order matters.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
# dictionaries store value in the form of key and value. It is not focused on order. So, one could not rely on the order of the item of a dictionary.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
# List is ordered collection od data so the data retrival process is also in ordered form. This increases the reliability.
# dictionary stores unorderd collection of data one could not rely on the order of the item of a dictionary.

In [11]:
# 1. Write a code to create a string with your name and print it.

In [18]:
string1 = "Purbita"
print(string1)

Purbita

In [19]:
type(string1)

str

In [20]:
# 2. Write a code to find the length of the string "Hello World"

In [21]:
a = "Hello world"
len(a)

11

In [22]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [23]:
a =  "Python Programming"
a[0:3]

'Pyt'

In [24]:
#4. Write a code to convert the string "hello" to uppercase

In [30]:
a = "hello"
a.upper()

'HELLO'

In [31]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [32]:
a = "I like apple"
a.replace("apple", "orange")

'I like orange'

In [33]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [34]:
a = [1, 2, 3, 4, 5, 6]
print(a)

[1, 2, 3, 4, 5, 6]

In [35]:
type(a)

list

In [36]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [38]:
a = [1, 2, 3, 4]
a.append(10)

In [39]:
print(a)

[1, 2, 3, 4, 10]

In [40]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [41]:
a = [1,2 ,3, 4, 5]
a.remove(3)

In [42]:
print(a)

[1, 2, 4, 5]

In [43]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [46]:
a = ['a', 'b', 'c', 'd']
a[1]

'b'

In [47]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [48]:
a = [10, 20, 30, 40, 50]
a[: : -1]

[50, 40, 30, 20, 10]

In [49]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [50]:
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

In [51]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [52]:
a = ('apple', 'banana', 'cherry')
a(0)

TypeError: 'tuple' object is not callable

In [53]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [54]:
a =  (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [55]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [57]:
a = ('dog', 'cat', 'rabbit')
a.index('cat')

1

In [58]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [59]:
a = ('apple', 'orange', 'banana')
if "banana" in a:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [60]:
# 16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [61]:
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [62]:
# 17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [63]:
a = {1, 2, 3, 4}
a.add(6)

In [64]:
print(a)

{1, 2, 3, 4, 6}

In [65]:
# 18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [66]:
tuple2 = (10, 20, 30)
print(tuple2)

(10, 20, 30)

In [67]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [68]:
a = ('apple', 'banana', 'cherry')
a(0)

TypeError: 'tuple' object is not callable

In [ ]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.


# REPEAT QUESTIONS IN THE QUESTION PAPER PROVIDED. PLEASE REFER ABOVE.